html, body {
	font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

form{
	width:320px;
	margin:0 auto;
}
.inputs{
	overflow: hidden;
	margin-bottom: 20px;
}
.label{
	float: left;
	font-size: 18px;
	margin-right: 5px;
	border-left: solid 5px #FF6701;
	padding-left: 10px;
}
.input_form{
	float: right;
	height: 30px;
	width:210px;
}
textarea{
	border: solid 1px #b1abab;
	border-radius:5px;
	margin-top: 10px;
	padding:8px;
	font-size: 15px;
}
textarea{
	height: 180px;
}
.btn-area{
	float: left;
	margin-left: 220px;
}
.btn-area input[type="button"]{
	-webkit-appearance: none;
	background: #FF6701;
	border: 1px solid #9d4141;
	color: #fff;
	font-size:12px;
	font-weight:bold;
	padding: 6px 20px;
	margin: 0 10px;
	border-radius: 6px;
}

.popup_wrap input[type="checkbox"] {
	display: none;
}
.popup_overlay {
	display: flex;
	justify-content: center;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9998;
	width: 100%;
	height: 100%;
	background: #aacbd191;
	opacity: 0;
	transition: opacity 0.5s, transform 0s 0.3s;
	transform: scale(0);
  }
  .popup_trigger {
	position: absolute;
	width: 100%;
	height: 95%;
  }
  .popup_content {
	position: relative;
	align-self: center;
	width: 80%;
	max-width: 800px;
	max-height: 90%;
	box-sizing: border-box;
	background: rgb(255, 255, 255);
	opacity: 1.0;
	transition: 0.5s;
	border-radius: 8px;
	box-shadow: 0 0 8px rgba(39, 131, 206, 0.9);
	overflow-y: auto;
  }
 .popup_content p{
	padding: 0px 20px;
	text-align: center;
  	line-height: 20px;
  	margin: 3px 0px 3px;
	color:rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
}
  .close_btn {
	position: absolute;
	top: 6px;
	right: 6px;
	font-size: 34px;
	cursor: pointer;
	color:#ff0000;
  }
  .popup_wrap input:checked ~ .popup_overlay {
	opacity: 1;
	transform: scale(1);
	transition: opacity 0.5s;
  }
  .open_btn {
	  color: #37beb0;
	  border-radius: 1px;
	  cursor: pointer;
	  transition: .2s ease;
	  border:1px solid #37beb0;
	  display: block;
	  text-align: right;
  }
  label.open_btn {
	  padding: 0px 13px;
	  height: 100%;
  }
  .open_btn:hover{
	  background:#6482a8;
	  color:#fff;
	  transition: .2s ease;
  }
  
.color1 {
	background-color: #ffe6e6;
	color: rgb(0, 0, 0);
	width: 146px;
}
.color2 {
	background-color: #c8f1e7;
	color: rgb(0, 0, 0);
	width: 146px;
}
.color3 {
	background-color: #fdf5e0;
	color: rgb(0, 0, 0);
}

table {
	height: 0;
}
td {
	height: 100%;
}

.box {
	position: relative;
	margin-right: 36px;
	margin-top: 5px;
	margin-left: 12px;
}
.box div.text {
    position: absolute;
    width: 100%;
    left: 0; 
    top: calc(50%); 
    text-align: left; 
    color: rgb(0, 0, 0); 
    font-weight: bold; 
    font-size: 26px;
	line-height: 26px;
	text-shadow: 1px  1px 1px white,
				-1px  1px 1px white,
				 1px -1px 1px white,
				-1px -1px 1px white;}
 
.text_title {
	position: relative;
	text-align: center; 
	color: rgb(0, 0, 0); 
	font-weight: 500; 
	font-size: 24px;
	padding: 36px 0px 10px 0px;
}

.center_box {
	position: relative;
	margin: 12px 0px 5px 0px;
}
.center_box span{
	position: relative;
	left: 50%;
	padding: 0px 2px;
	border-radius: 1px;
	transform: translate(-50%,-50%);
	display: inline-block;
}
.person_name {
	/* background: linear-gradient(transparent 50%, #a8eaff 50%); */
	background: linear-gradient(transparent 100%, #72c0d6d5 50%);  /* white */
}
  
.space {
	height: 10px;
}

.order-table tbody {
	text-align: left;
}

.hide_row {
	display: none;
}
  
  #loading {
	display: table;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	opacity: 0.9;
	z-index: 9999;
   }
   
   #loading .loadingMsg {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	background: url("img/loading.gif") center center no-repeat;
   }

p {
	padding: 4px 0px;
	margin: 1px 6px 1px 6px;
  	line-height: 21px;
}

.under {
	background: linear-gradient(transparent 50%, #addfee 50%);
}

.dot{
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-top: 9px;
	margin-right: 8px;
	margin-left: 8px;
	background: #4590ce;
}

h3{
	position: relative;
	text-align: center;
	font-size:20px;
}
h3::before{
	position: absolute;
	top: 50%;
	z-index: 1;
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: #000;
	background: linear-gradient(-45deg, transparent, #325A8C 10%, #325A8C 90%, transparent);
}
h3 span{
	position: relative;
	z-index: 2;
	display: inline-block;
	padding: 0 20px;
	background-color: #fff;
	text-align: left;
}

h1 {
	position: relative;
	padding: 0.25em 0;
	color: rgb(63, 62, 62);
	font-family: 'alba';
  }
  h1:after {
	content: "";
	display: block;
	height: 4px;
	background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
	background: linear-gradient(to right, rgb(230, 90, 90), transparent);
  }

/* :::::: toggle button :::::: */
#navTgl {
	display: none;
}
.open {
  cursor: pointer;
	position: fixed;
	top: 0;
	right: 0;
  
	z-index: 2;
	width: 48px;
	height: 48px;
	background: #20b2aab3;
	transition: background .6s, transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.open::before,
.open::after {
	content: "";
}
.open span,
.open::before,
.open::after {
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	right: 30%;
	width: 40%;
	border-bottom: 2px solid white;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.open::before {
	transform: translateY(-8px);
}
.open::after {
	transform: translateY(8px);
}
.close {
  cursor: pointer;
	position: fixed;
	top: 0;
	right: 0;
  
	z-index: 100;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
}
#navTgl:checked + .open {
	background: #d35a5fde;
	transform: translateX(-250px);
	z-index: 101;
}
#navTgl:checked + .open span {
	transform: scaleX(0);
}
#navTgl:checked + .open::before {
	transform: rotate(45deg);
}
#navTgl:checked + .open::after {
	transform: rotate(-45deg);
}
#navTgl:checked ~ .close {
	pointer-events: auto;
	background: rgba(0,0,0,.3);
	z-index: 100;
}

/* :::::: drawer menu :::::: */
.menu {
	position: fixed;
	overflow: auto;
	top: 0;
	right: 0px;
	width: 250px;
	height: 100%;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	background: rgba(0, 15, 39, 0.45);
	transform: translateX(100%);
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
	z-index: 100;
}
.menu h2,
.menu label {
	color: white;
	padding-left: 10px;
}
.menu a {
	color: white;
}
.menu h2 {
	text-align: center;
}
.menu ul {
	margin: 0;
	padding: 0;
}
.menu li {
	font-size: .8em;
	line-height: 1.4;
}
.menu li:not(:first-child) {
	border-top: 1px solid rgba(255,255,255,.6);
}
.menu a {
	display: block;
	padding: 1em 2em;
	text-decoration: inherit;
	transition: background .6s;
}
.menu a:hover {
	background: black;
}
#navTgl:checked ~ .menu {
	transform: none;
}

.notification-badge-large {
	background: url("img/new.png") center center no-repeat;
	background-size: 22px;
	width: 22px;
	height: 22px;
	margin: -24px -18px;
	/* border: 3px solid rgb(240, 210, 190); */
	/* background-color: rgb(248, 33, 87); */
	/* border-radius: 50%; */
	/* text-align: center; */
	/* font-size: 12px; */
	/* color: #fff; */
}

.notification-badge-small::after {
	/* background: url("img/new.png") center center no-repeat; */
	/* background-size: 13px; */
	width: 13px;
	content: "●";
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 189, 189);
    position: relative;
    top: -6px;
    right: -2px;
    font-size: 13px;
    text-shadow: 0px 0px 7px  rgb(241, 34, 34);
}
.notification_title.notification-badge-small::after {
	background: url("img/new_flag.png") center center no-repeat;
	background-size: 32px;
	font-size: 22px;
	content: "...";
	color: rgba(0, 0, 0, 0);
	top: -8px;
    right: -3px;
	text-shadow: 0px 0px 0px rgb(0, 0, 0, 0);
}

/* :::::: notification list :::::: */
.notification_wrap input[type="checkbox"] {
	display: none;
}
.notification_overlay {
	display: flex;
	justify-content: center;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9997;
	width: 100%;
	height: 100%;
	background: rgb(94, 67, 67, 0.3);
	opacity: 0;
	transition: opacity 0.5s, transform 0s 0.3s;
	transform: scale(0);
}
.notification_trigger {
	position: absolute;
	width: 100%;
	height: 95%;
}
.notification_content {
	position: relative;
	align-self: center;
	width: 95%;
	max-width: 800px;
	height: 80%;
	box-sizing: border-box;
	background: rgb(255, 255, 255);
	opacity: 1.0;
	transition: 0.5s;
	border-radius: 4px;
	box-shadow: 0 0 8px rgb(237, 94, 64, 0.9);
/* 	overflow-y: auto; */
}
.scroll_element {
	position: absolute;
	overflow-y: auto;
	max-height: calc(80% - 30px);
	width: 100%;
}
.notification_content p{
	padding: 0px 20px;
	text-align: center;
  	line-height: 20px;
  	margin: 3px 0px 3px;
	color:rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
}
.close_btn {
	position: absolute;
	top: 6px;
	right: 6px;
	font-size: 34px;
	cursor: pointer;
	color:#ff0000;
}
.notification_wrap input:checked ~ .notification_overlay {
	opacity: 1;
	transform: scale(1);
	transition: opacity 0.5s;
}
.open_btn {
	color: #37beb0;
	border-radius: 1px;
	cursor: pointer;
	transition: .2s ease;
	border:1px solid #37beb0;
	display: block;
	text-align: right;
}
label.open_btn {
	padding: 0px 13px;
	height: 100%;
}
.open_btn:hover{
	background:#6482a8;
	color:#fff;
	transition: .2s ease;
}
.notification_list_title {
	position: relative;
	color: rgb(0, 0, 0); 
	font-weight: 500; 
	font-size: 22px;
	padding: 20px 0px 0px 24px;
}
.notification_element {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 2px;
  width: 95%;
  border-radius: 6px;
  background-color: rgb(0, 0, 0, 0.0);
  box-shadow: 0 0 4px rgb(187, 34, 58, 0.9);
}
.notification_title {
	position: relative;
	text-align: left; 
	color: rgb(0, 0, 0); 
	font-weight: 500; 
	font-size: 16px;
	padding: 10px 12px 32px 12px;
}
.notification_date {
	position: relative;
	text-align: right; 
	color: rgb(0, 0, 0); 
	font-weight: 500; 
	font-size: 14px;
	padding: 0px 8px 4px 0px;
}
hr {
	border: none;
	border-bottom: solid 2px rgb(231, 113, 113);
	width: 98%;
}